body {
  height: 100vh;
  margin: 0;
  /* background-color: #f5f0ed; */
  background-color: #e4ddd8cc;
  text-align: center;
  color: #3d5361;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 6vw;
}

#game-container {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  padding: 2vw;
  border-radius: 6px;
  margin: 0 auto;
}

#score-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

#left {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 1vw;
  justify-content: space-between;
}

#score,
#high-score {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 14vw;
  /* background-color: #d4c6bd; */
  background-color: #f5f0ed;
  color: #835463;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

#right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#new-game-btn,
#undo-btn {
  border-radius: 7px;
  width: 15vw;
  height: 7vh;
  /* padding: 17px; */
  margin-bottom: 10px;
  /* background-color: #d4c6bd; */
  background-color: #f5f0ed;
  /* color: #3d5361; */
  color: #835463;
  border: none;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#timer {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

#game-board {
  background-color: #d1bab0;
}

.tile {
  /* background-color: #d4c6bd78; */
  background-color: #f5f0ed63;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  color: #835463;
  border-radius: 6px;
}

.tile-2 {
  background-color: #f9e9e9;
}

.tile-4 {
  background-color: #f4d4d4;
}

.tile-8 {
  background-color: #f0bfbf;
}

.tile-16 {
  background-color: #c28b93;
}

.tile-32 {
  background-color: #e29f9f;
}

.tile-64 {
  background-color: #d08d8d;
}

.tile-128 {
  background-color: #c07b7b;
  color: #f5f0ed;
}

.tile-256 {
  background-color: #b56969;
  color: #f5f0ed;
}

.tile-512 {
  background-color: #a45757;
  color: #f5f0ed;
}

.tile-1024 {
  background-color: #8d3f3f;
  color: #f5f0ed;
}

.tile-2048 {
  background-color: #6e2c2c;
  color: #f5f0ed;
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f0ed;
  color: #835463;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80vw;
  max-width: 300px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restart-btn {
  background-color: #d4c6bd;
  color: #835463;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #3d5361;
  font-weight: bold;
}

/* For small screens (mobile devices) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 2.5vw;
  }

  .tile {
    font-size: 3vw;
  }

  #game-board {
    width: 75vw;
    height: 75vw;
  }

  #new-game-btn,
  #undo-btn {
    font-size: 2vw;
    /* width: 15vw; */
  }

  #score,
  #high-score {
    font-size: 2vw;
    width: 10vw;
  }

  #timer {
    font-size: 3vw;
  }

  .modal {
    width: 30vw;
  }

  #restart-btn {
    padding: 7px 10px;
    font-size: 2vw;
  }
}

/* For larger screens (tablets and desktops) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6vw;
  }

  #game-board {
    width: 80vw;
    height: 80vw;
  }

  p {
    font-size: 2.5vw;
  }

  .tile {
    font-size: 3vw;
  }

  #new-game-btn,
  #undo-btn {
    font-size: 1.4vw;
    width: 20vw;
  }

  #score,
  #high-score {
    font-size: 2vw;
  }

  #timer {
    font-size: 2vw;
  }
}

/* For very large screens (desktops and large monitors) */
@media only screen and (min-width: 1200px) {
  #game-board {
    width: 90vw;
    height: 90vw;
  }

  .tile {
    font-size: 2vw;
  }
}
