body {
  height: 100vh;
  margin: 0;
  /* background-color: #819171; */
  background-color: #595959;
  text-align: center;
  color: #cccccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 6vw;
  color: #dfe6dab0;
}

#game-container {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #dfe6da;
}

#score,
#new-game-btn,
#undo-btn,
#timer,
#high-score {
  /* background-color: #dfe6da; */
  background-color: #cccccc;
  border: none;
  /* width: 40vw; */
  max-width: 150px;
  height: 8vh;
  border-radius: 8px;
  color: #3a5a40;
  margin: 0 auto;
  /* font-size: 4vw; */
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: row;
}

#new-game-btn,
#undo-btn {
  background-color: #cccccca0;
  display: flex;
  justify-items: center;
  flex-direction: row;
  /* margin-bottom: 10px; */
  width: 15vw;
  height: 12vh;
  font-size: 2.5vw;
  /* margin-right: 1vw; */
}

#score,
#high-score {
  background-color: #cccccca0;
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 15vw;
  height: 12vh;
  font-size: 2.5vw;
  margin-right: 35vw;
}

#timer {
  background-color: #cccccca0;
  display: flex;
  justify-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  width: 30vw;
  height: 12vh;
  font-size: 2.5vw;
}

#score-new {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  align-items: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
  /* background-color: #819171; */
  /* background-color: #44634abf; */
  /* background-color: #dfe6dab0; */
  padding: 2vw;
  border-radius: 6px;
  margin: 0 auto;
}

.tile {
  background-color: #cccccca0;
  /* background-color: #595959; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  color: #3a5a40;
  border-radius: 6px;
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #819171a8;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80vw;
  max-width: 300px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restart-btn {
  background-color: #dfe6da;
  color: #3a5a40;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

#timer {
  /* font-size: 3vw; */
  color: #3a5a40;
  display: flex;
  justify-items: center;
  flex-direction: column;
  /* width: 20vw; */
}

.tile-2 {
  background-color: #e0f7da;
  color: #3a5a40;
}

.tile-4 {
  background-color: #c8e6c9;
  color: #3a5a40;
}

.tile-8 {
  background-color: #a5d6a7;
  color: #3a5a40;
}

.tile-16 {
  background-color: #e0f0e3;
  color: #3a5a40;
}

.tile-32 {
  background-color: #d2e7d6;
  color: #3a5a40;
}

.tile-64 {
  background-color: #c8e1cc;
  color: #3a5a40;
}

.tile-128 {
  background-color: #b8d8be;
  color: #3a5a40;
}

.tile-256 {
  background-color: #add0b3;
  color: #3a5a40;
}

.tile-512 {
  background-color: #dde8e4;
  color: #3a5a40;
}

.tile-1024 {
  background-color: #d0e0dd;
  color: #3a5a40;
}

.tile-2048 {
  background-color: #bdcfc9;
  color: #3a5a40;
}

/* For very small screens (mobile devices) */
@media only screen and (max-width: 768px) {
  #game-board {
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
  }

  .tile {
    font-size: 5vw;
  }

  #score,
  #new-game-btn,
  #undo-btn,
  #timer {
    /* width: 20vw; */
    /* font-size: 3vw; */
    margin-left: 1vw;
  }

  h1 {
    font-size: 8vw;
  }

  .modal {
    width: 60vw;
  }
}

/* For larger screens (tablets and desktops) */
@media only screen and (min-width: 768px) {
  #game-board {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
  }

  .tile {
    font-size: 2vw;
  }

  #new-game-btn,
  #undo-btn,
  #score,
  #timer {
    /* width: 15vw; */
    margin-left: 1vw;
    /* font-size: 2vw; */
  }

  .modal {
    width: 70vw;
  }
}

/* For very large screens (desktops and large monitors) */
@media only screen and (min-width: 1200px) {
  #game-board {
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
  }

  .tile {
    font-size: 2vw;
  }

  #new-game-btn,
  #undo-btn,
  #score,
  #timer {
    /* width: 10vw; */
    margin-left: 1vw;
    /* font-size: 1.5vw; */
  }
}
