body {
  height: 100vh;
  margin: 0;
  background-color: #8c9a7f;
  text-align: center;
  color: #dfe6da;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 6vw;
}

#game-container {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  width: 90vw;
  max-width: 600px;
  height: 90vw;
  max-height: 600px;
  padding: 2vw;
  border-radius: 10px;
  margin-left: -7vw;
  background-color: #e4ddd89d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#score-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin: 0 auto;
}

#left {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 1vw;
  justify-content: space-between;
}

#score,
#high-score {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 14vw;
  background-color: #f5f0ed;
  color: #673a48;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#new-game-btn,
#undo-btn {
  border-radius: 7px;
  width: 15vw;
  height: 7vh;
  margin-bottom: 10px;
  background-color: #f5f0ed;
  color: #673a48;
  border: none;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  transition: background-color 0.3s ease;
}

#new-game-btn:hover,
#undo-btn:hover {
  background-color: #d4c6bd;
}

#timer {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tile {
  background-color: #f5f0ed63;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  color: #673a48;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.tile:hover {
  transform: scale(1.05);
}

.tile-2 {
  background-color: #ede8e7;
  color: #c07b7b;
}

.tile-4 {
  background-color: #d6c6c4;
  color: #c07b7b;
}

.tile-8 {
  background-color: #cda9a7;
  color: #f5f0ed;
}

.tile-16 {
  background-color: #c49091;
  color: #f5f0ed;
}

.tile-32 {
  background-color: #a67071;
  color: #f5f0ed;
}

.tile-64 {
  background-color: #8c5a5a;
  color: #f5f0ed;
}
.tile-128 {
  background-color: #7b4c4b;
  color: #f5f0ed;
}
.tile-256 {
  background-color: #694141;
  color: #f5f0ed;
}
.tile-512 {
  background-color: #5b3635;
  color: #f5f0ed;
}
.tile-1024 {
  background-color: #4b2928;
  color: #f5f0ed;
}
.tile-2048 {
  background-color: #3c1f1e;
  color: #f5f0ed;
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f0ed;
  color: #673a48;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80vw;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restart-btn {
  background-color: #d4c6bd;
  color: #673a48;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart-btn:hover {
  background-color: #bfaea0;
}

a {
  text-decoration: none;
  color: #673a48;
  font-weight: bold;
}

strong {
  color: #673a48;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 2.5vw;
  }

  .tile {
    font-size: 3vw;
  }

  #game-board {
    width: 75vw;
    height: 75vw;
    margin: 0 auto;
  }

  #new-game-btn,
  #undo-btn {
    font-size: 2vw;
  }

  #score,
  #high-score {
    font-size: 2vw;
    width: 10vw;
  }

  #timer {
    font-size: 3vw;
  }

  .modal {
    width: 30vw;
  }

  #restart-btn {
    padding: 7px 10px;
    font-size: 2vw;
  }
}

/* For larger screens (tablets and desktops) */
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 6vw;
  }

  #game-board {
    width: 80vw;
    height: 80vw;
  }

  p {
    font-size: 2.5vw;
  }

  .tile {
    font-size: 3vw;
  }

  #new-game-btn,
  #undo-btn {
    font-size: 1.4vw;
    width: 20vw;
  }

  #score,
  #high-score {
    font-size: 2vw;
  }

  #timer {
    font-size: 2vw;
  }
}

/* For very large screens (desktops and large monitors) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 4vw;
  }

  p {
    font-size: 1.5vw;
  }

  .tile {
    font-size: 1.8vw;
  }

  #game-board {
    width: 75vw;
    height: 75vw;
  }

  #new-game-btn,
  #undo-btn {
    font-size: 1vw;
    width: 15vw;
  }

  #score,
  #high-score {
    font-size: 1vw;
    width: 10vw;
  }

  #timer {
    font-size: 1.8vw;
  }

  .modal {
    width: 30vw;
  }

  #restart-btn {
    font-size: 1vw;
  }
}
